*{
    box-sizing: border-box;
}

.boycss{
    width: 160px;
    height: 250px;
    position: absolute;
    background-size: cover;
    background-position: center;
}

body{
    background-size: cover;
    overflow: hidden;
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    text-shadow: 10px -10px 2px rgba(64, 81, 134, 0.5);
}

#instructions{
    position: absolute;
    font-size: 80px;
    color: aliceblue;
    left: 0;
    top: 25vh;
    bottom: 0;
    right: 10vw;
    margin: auto;
    text-align: center;
    opacity: 0;
    animation-name: hide;
    animation-duration: 6s;

}

@keyframes hide{
    from{
        opacity: 1;
    }
}

