*{
    box-sizing: border-box;
}
.boycss{
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: cover;
    background-position: center;
}

body{
    background-image: url('/imgs/background.jpg');
    background-size: cover;
    overflow: hidden;
}